extends ../layouts/base.pug

block variables
  - var title = "Base template"

block content
  .container
    label.upload-label Загрузить изображение
      input.upload-btn(type="file")
    .picture-section.is-hidden
      .picture-crop-area
        img.picture(alt="")

    .action-section
      a(class="action-btn is-hidden" href="#") Crop
      a.link.is-hidden(href="")
    .social
      a.social_link(href="http://www.facebook.com/sharer.php?u=https://vk.com" target="_blank")
        img(src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook")
      a.social_link(href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank")
        img(src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter")
      a.social_link(href="http://vkontakte.ru/share.php?url=https://google.com" target="_blank")
        img(src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK")

